@import "../components/variables";

// start hero_section
.hero_section {
  height: calc(100vh - 68px);
  position: relative;

  .container {
    height: 100%;
  }

  .line {
    height: 100%;
    align-items: center;

    .text {
      .title {
        font-size: 65px;
        font-weight: 700;
        margin-bottom: 25px;
      }

      .btn_fill {
        background-color: white;
        color: black !important;
      }
    }

    .image {
      text-align: center;

      .img_banner {
        position: relative;
        > img {
          width: 95%;
        }

        .boxs_download {
          position: absolute;
          bottom: 45px;

          .box_download {
            padding: 7px;
            display: flex;
            align-items: center;
            gap: 8px;
            background-color: white;
            border-radius: 6px;
            width: 200px;
            color: black;

            &:not(:last-child) {
              margin-bottom: 15px;
            }

            .icon {
              img {
                width: 40px;
                height: 40px;
              }
            }

            span {
              display: block;
              font-size: 15px;
            }

            h6 {
              margin-bottom: 0;
              font-size: 17px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero_section {
    height: 80vh;

    .line {
      justify-content: center;

      .text {
        text-align: center;

        .title {
          font-size: 30px;
          margin-bottom: 8px;
        }

        .btn_fill {
          margin: auto;
        }
      }

      .image {
        .img_banner {
          .boxs_download {
            .box_download {
              padding: 5px;
              gap: 5px;
              width: fit-content;

              &:not(:last-child) {
                margin-bottom: 9px;
              }

              .icon {
                img {
                  width: 25px;
                  height: 25px;
                }
              }

              span {
                font-size: 12px;
              }

              h6 {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
// end hero_section

// start about_us_section
.about_us_section {
  padding: 80px 0 0;
  background-color: #f2af0e;
  color: black;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main_info {
      .title {
        font-size: 45px;
        font-weight: 500;
        max-width: 400px;
      }

      .btn_fill {
        padding: 9px 25px;
        border-radius: 50px;
      }
    }

    .info {
      .desc {
        max-width: 500px;
        font-size: 18px;
      }
    }
  }

  .boxs_images {
    margin-top: 80px;

    .box {
      height: 435px;

      .image {
        height: 100%;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about_us_section {
    padding: 50px 0 0;

    .head {
      text-align: center;
      flex-direction: column;
      gap: 10px;

      .main_info {
        .title {
          font-size: 30px;
        }

        .btn_fill {
          padding: 4px 15px;
          margin: auto;
        }
      }

      .info {
        .desc {
          font-size: 14px;
          margin-bottom: 5px;
        }
      }
    }

    .boxs_images {
      margin-top: 40px;

      .box {
        height: 380px;
      }
    }

    .owl-nav,
    .owl-dots {
      display: none;
    }
  }
}
// end about_us_section

// start how_it_works
.how_it_works {
  padding: 80px 0;
  background-color: #f2af0e;
  color: black;
  position: relative;

  .line {
    .text {
      .title {
        font-size: 75px;
        font-weight: 400;
        line-height: 1;
      }

      .desc {
        max-width: 500px;
        margin-bottom: 15px;
      }
    }

    .image {
      position: relative;
      z-index: 99;
      img {
        width: 50%;
      }
    }

    .boxs_text {
      .box {
        max-width: 500px;

        &:not(:last-child) {
          padding-bottom: 15px;
          margin-bottom: 15px;
          border-bottom: 2px solid #ba860b;
        }

        .title {
          font-size: 28px;
          font-weight: 500;
          margin-bottom: 5px;
        }

        .desc_box {
          margin-bottom: 0;
          max-width: 400px;
        }
      }
    }
  }

  .icon_grams {
    position: absolute;
    bottom: -10px;
    right: -33px;

    img {
      width: 275px;
    }
  }
}

@media (max-width: 768px) {
  .how_it_works {
    padding: 40px 0;

    .line {
      text-align: center;
      gap: 13px;

      .text {
        .title {
          font-size: 45px;
        }

        .desc {
          font-size: 14px;
          margin-bottom: 0;
        }
      }

      .image {
        img {
          width: 65%;
        }
      }

      .boxs_text {
        text-align: start;
        max-width: 275px;
        margin: auto;
        .box {
          &:not(:last-child) {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 2px solid #ba860b;
          }

          .title {
            font-size: 23px;
            margin-bottom: 4px;
          }

          .desc_box {
            font-size: 14px;
          }
        }
      }
    }

    .icon_grams {
      bottom: -15px;
      right: -29px;

      img {
        width: 170px;
      }
    }
  }
}
// end how_it_works

// start what_our_clients_say
.what_our_clients_say {
  padding: 0 0 70px;
  color: black;
  position: relative;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;
    margin-bottom: 40px;

    .text {
      flex: 1;
      display: flex;
      justify-content: end;

      .title {
        font-size: 100px;
        line-height: 1;

        img {
          width: 68px;
          margin-top: -37px;
        }
      }
    }

    .icon {
      width: 230px;
      height: 220px;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: start;

      &.icon1 {
        transform: translateX(-70px);
      }

      &.icon2 {
        transform: translateX(100px);
        justify-content: start;
        align-items: center;

        span {
          color: #ff3eb3;
          transform: rotate(180deg) translateY(20px);
        }
      }

      span {
        color: $primary-color;
        font-weight: 600;

        font-size: 240px;
      }
    }
  }

  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 35px;

    .box {
      padding: 20px 30px;
      border: 1px solid black;

      .comment {
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
      }

      .profile {
        display: flex;
        align-items: center;
        gap: 12px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-size: 19px;
          font-weight: 500;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .what_our_clients_say {
    padding: 0 40px 0;

    .head {
      padding-top: 60px;
      margin-bottom: 35px;

      .icon {
        position: absolute;
        width: 140px;
        height: 140px;
        justify-content: end;
        background-color: transparent;

        span {
          font-size: 136px;
        }

        &.icon1 {
          display: flex;
          justify-content: end;
          align-items: end;
          top: 4px;
          left: -67px;
        }

        &.icon2 {
          justify-content: start;
          align-items: center;
          top: 0;
          right: -37px;
        }
      }

      .text {
        justify-content: center;

        .title {
          font-size: 45px;

          img {
            width: 35px;
            margin-top: -30px;
          }
        }
      }
    }

    .boxs {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;

      .box {
        padding: 10px 20px;

        .comment {
          font-size: 14px;
          padding-bottom: 7px;
          margin-bottom: 10px;
        }

        .profile {
          gap: 6px;

          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}
// end what_our_clients_say

// start meal_plans
.meal_plans {
  padding: 80px 0;

  .head {
    text-align: center;

    .title {
      font-size: 35px;
      font-weight: 600;
    }
  }

  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    margin: 70px auto 0;
    max-width: 1100px;
    align-items: end;

    .box {
      padding: 17px;
      border: 1px solid #80cbba;
      border-radius: 7px;
      position: relative;
      height: fit-content;

      &:nth-child(2) {
        border: 1px solid #fa8c9b;
      }

      &:nth-child(3) {
        border: 1px solid #d0ceed;
      }

      &:nth-child(4) {
        border: 1px solid #fcd36c;
      }

      .icon {
        background-color: #f13750;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;

        i {
          font-size: 14px;
        }
      }

      .image {
        text-align: center;
        margin-bottom: 20px;

        img {
          width: 150px;
        }
      }

      .title {
        text-align: center;
        font-size: 22px;
      }

      .warning {
        text-align: center;
        font-size: 14px;
      }

      .features {
        .feature {
          &:not(:last-child) {
            margin-bottom: 10px;
          }

          i {
            font-size: 7px;
            margin-left: 7px;
            color: $primary-color;
          }

          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .meal_plans {
    padding: 40px 0;

    .head {
      .title {
        font-size: 35px;
      }

      .desc {
        font-size: 12px;
        margin-bottom: 0;
      }
    }

    .boxs {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      margin: 40px auto 0;

      .box {
        text-align: center;

        .features {
          .feature {
            justify-content: center;
          }
        }
      }
    }
  }
}

// end meals plans

// start dietitions_section
.dietitions_section {
  padding: 70px 0 0;

  .line {
    .text {
      .title {
        font-size: 55px;
        font-weight: 700;
        margin-bottom: 30px;
      }

      .desc {
        font-size: 19px;
        margin-bottom: 25px;

        &.italic {
          font-style: italic;
        }
      }
    }

    .image {
      text-align: center;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .dietitions_section {
    padding: 40px 0 0;

    .line {
      .text {
        text-align: center;

        .title {
          font-size: 28px;
          margin-bottom: 10px;
        }

        .desc {
          font-size: 15px;
          margin-bottom: 5px;
        }

        .dietition {
          font-size: 18px;
          margin-bottom: 0;
        }
      }
    }
  }
}
// end dietitions_section

// start menu_grams_section
.menu_grams_section {
  padding: 70px 0;
  background-color: #f8f4ed;

  .head {
    text-align: center;

    .icon {
      text-align: center;

      img {
        width: 150px;
      }
    }

    .desc {
      margin-bottom: 0;
      font-weight: 600;
      font-size: 20px;
    }
  }

  .menu_boxs {
    margin-top: 70px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

    .box {
      border-radius: 10px;
      overflow: hidden;
      background-color: white;
      box-shadow: 0px 3px 10px #dedede;

      .image {
        img {
          width: 100%;
          height: 260px;
          object-fit: cover;
        }
      }

      .text {
        padding: 20px;
        text-align: center;

        h4 {
          font-size: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .menu_grams_section {
    padding: 40px 0;

    .head {
      .icon {
        img {
          width: 100px;
        }
      }

      .desc {
        font-size: 15px;
      }
    }

    .menu_boxs {
      margin-top: 35px;
      padding-left: 0;
      padding: 0 15px;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      gap: 20px;

      .box {
        .image {
          img {
            height: 200px;
          }
        }

        .text {
          padding: 8px;

          h4 {
            font-size: 14px;
          }
        }
      }
    }
  }
}
// end menu_grams_section

// start app_features
.app_features {
  padding: 80px 0;
  position: relative;

  .line {
    align-items: center;

    .text {
      .title {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      .features {
        .feature {
          padding: 12px;
          background-color: #f8f4ed;
          display: flex;
          align-items: center;
          gap: 15px;
          border-radius: 10px;
          box-shadow: 0px 3px 10px #e9e9e9;

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          .icon {
            width: 70px;
            min-width: 70px;
            height: 70px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;

            img {
              width: 55px;
            }
          }

          h5 {
            margin-bottom: 0px;
            font-size: 20px;
          }

          p {
            margin-bottom: 0;
          }
        }
      }
    }

    .image {
      position: relative;

      > img {
        width: 45%;
      }

      .bg_features {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -230px;
        z-index: -1;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .app_features {
    padding: 40px 0;

    .title {
      font-size: 34px;
      margin-bottom: 5px;
    }

    .line {
      .text {
        text-align: center;

        .desc {
          font-size: 14px;
        }

        .features {
          .feature {
            text-align: start;
            .icon {
              width: 60px;
              min-width: 60px;
              height: 60px;
            }

            h5 {
              font-size: 18px;
            }

            p {
              font-size: 13px;
            }
          }
        }
      }

      .image {
        .bg_features {
          height: 145%;
          width: 100%;
          right: -30px;
        }
      }
    }
  }
}
// end app_features

// start faq_section
.faq_section {
  padding: 60px 0;
  background-color: $primary-color;
  color: white;

  .link {
    text-align: end;
    transform: translateY(-80px);
    font-size: 20px;
    text-decoration: underline;
  }

  .title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  .line {
    display: flex;
    gap: 40px;
    margin-top: 50px;

    .left,
    .right {
      width: 50%;
    }

    .accordion {
      .accordion-item {
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .accordion-button {
          border: none;
          border-radius: 7px;
          font-weight: 600;

          &:not(.collapsed) {
            background-color: $primary-color !important;
            color: white !important;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .faq_section {
    padding: 30px 0;

    .link {
      transform: translateY(0);
      font-size: 17px;
    }

    .subtitle {
      font-size: 15px;
    }

    .title {
      font-size: 20px;
    }

    .line {
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;

      .left,
      .right {
        width: 100%;
      }

      .accordion {
        .accordion-item {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          .accordion-button {
            font-size: 14px;
            padding: 10px;
          }

          .accordion-body {
            padding: 8px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
// end faq_section

// start gallery_section
.gallery_section {
  .boxs_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .box {
      height: 450px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 768px) {
  .gallery_section {
    .boxs_images {
      .box {
        height: 350px;
      }
    }
  }
}
// end gallery_section
